form(action='/new' method='post')
  h4 Input your message
  label(for='messageUser') User: 
  input#messageUser(type='text' name='messageUser')
  label(for='messageText') Text: 
  input#messageText(type='text' name='messageText')
  button(type='submit') Submit
